$bkgColor: #A99F96 ;
$inputWell: #6B7CA3;
$outputWell: #8C719E;
$text: #FFF8F2;

html, body {
  background-color: $bkgColor;

}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInput {
  display: inline-block;
  height: 60vh;
  width: 40vw;
  background-color: $inputWell;
  color: $text;
  margin: 70px 30px;
  text-align: left;
  font-size: 1.2em;
  overflow: auto;
  padding-left: 15px;
  padding-top: 20px;
  border: solid 2px #D6D0CB;
  box-shadow: 5px 5px 5px gray;
  border-radius: 5px;
}

.textOutput {
  @extend .textInput;
  background-color: $outputWell;
}
